<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
   
    
</head>
<body>
  
	
		<footer class="bg-dark text-white pt-4 pb-2"  th:fragment="footer">
		        <div class="container">
		            <div class="row">
		                <div class="col-md-2">
		                    <h5>ABOUT US</h5>
		                    <ul class="list-unstyled">
		                        <li>Who we are?</li>
		                        <li>Vision</li>
		                        <li>Mission</li>
								<li>Our Values</li>
					            <li>Our Approaches</li>
		                    </ul>
		                </div>
		                <div class="col-md-2">
		                    <h5>Our Programs</h5>
		                    <ul class="list-unstyled">
		                        <li>Coding on Wheels</li>
		                        <li>Coding Education in Schools</li>
								<li>Women Empowerment</li>
		                        <li>Livelihood</li>
		                    </ul>
		                </div>
		                <div class="col-md-2">
		                    <h5>CAMPAIGNS</h5>
		                    <ul class="list-unstyled">
		                        <li>Padho bhi Padhaon bhi</li>
		                        <li>Corporate Training for Social Cause</li>
		                    </ul>
		                </div>
		                <div class="col-md-2">
		                    <h5>GET INVOLVED</h5>
		                    <ul class="list-unstyled">
		                        <li>Support from Individuals</li>
		                        <li>Payroll Giving</li>
		                        <li>Sponsorships</li>
								<li>Payroll Giving</li>
						        <li>Sponsorships</li>
		                    </ul>
		                </div>
		                <div class="col-md-2">
		                    <h5>RESOURCE CENTRE</h5>
		                    <ul class="list-unstyled">
		                        <li>Newsletter</li>
		                        <li>Stories of Change</li>
		                        <li>The Smile Blog</li>
		                    </ul>
		                </div>
		            </div>
		            <div class="text-center mt-3 border-top pt-3">
		                &copy; 2024 Smile Foundation. All Rights Reserved.
		            </div>
		        </div>
		    </footer>

</body>
</html>